.board {
  display: grid;
  grid-template-columns: repeat(8, 80px);
  grid-template-rows: repeat(8, 80px);
  border: 2px solid #333;
  width: fit-content;
}

.square {
  width: 80px;
  height: 80px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

.square.light {
  background: #f0d9b5;
}

.square.dark {
  background: #b58863;
}

.square.selected {
  background-color: #baca44 !important;
  box-shadow: inset 0 0 0 2px #7d7c1d;
}

.square.legal-move::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgba(32, 125, 29, 0.6);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.square-label-rank {
  position: absolute;
  top: 4px;
  left: 6px;
  font-size: 12px;
  font-weight: 600;
  opacity: 0.8;
  color: brown
}

.square-label-file {
  position: absolute;
  right: 6px;
  bottom: 4px;
  font-size: 12px;
  font-weight: 600;
  opacity: 0.8;
  color: brown
}

.piece {
  width: 74%;
  height: 74%;
  object-fit: contain;
  pointer-events: none;
  user-select: none;
}